*{
    padding: 0px;
    margin: 0;
}
.header{
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
}
.show{
    //display: none;
	
}
.logo{
    >.link{
        text-decoration: none;
        color: $black;
        text-align: center;
        >h1{
            padding: 5vh 0;
        }
    }
}