@import 'formulario';

.footer{
    background-color: $bgquinquennary;
    >.form-container{
        max-width: 80%;
        margin: 0 auto;
        >.form{
            width: 100%;
            >input.form-itens{
               width: 48%;
               padding: 10px 0 10px 17px;
               margin: 1.5rem 0;
               box-sizing: border-box;
            }
            >.form-itens {
                max-width: 100%;
                background-color: transparent;
                color: $white;
                border:1px solid $white;
                ::placeholder{
                    background-color: transparent;
                    color: $white;
                }
                &.button{
                    @include ghost-button(arial, 14px, $primary, 1px, $white, 15px 50px, 0.2s, $black);
                }
            }
        }
    }
}