@import 'formulario';

.footer{
    padding: 5rem 0;
    background-color: $bgquinquennary;
    >.form{
        >.form-itens {
            width: 40%;
            padding: 15px 0;
            background-color: transparent;
            color: $white;
            ::placeholder{
                background-color: transparent;
                color: $white;
            }
        }
    }
}