.project{
	margin: 10% auto;
	padding: 30px;
	background-color:$bgsecondary;
	@include mq('tablet-wide') {
        margin: 2% auto;
    }
	.container-project{
		position: relative;
		@include flex-direction(column);
         @include mq('tablet-wide') {
            @include flex-direction(row);
            @include justify-content(space-between);
         }
		
		.description-project{
			padding: 15px;
			margin-bottom: 2rem;
             @include mq('tablet-wide') {
                 width: 60%;
             }
			.description{
				@include font-source-sans(14px); 
			}
		}
		
		.description-img{
			position: relative;
			padding: 15px 0;
	
			.project-img{
                 @include mq('tablet-wide') {
    				position: absolute;
    				bottom: -90px;
    				right: 0;
                 }
			}
		}
		
	}
}