/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.conteiner,
.card-group,
.container-project {
  max-width: 1140px;
  margin: 0 auto;
}

.conteiner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.card-group,
.servicos,
.metodologia,
.portifolio,
.projeto .footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-half {
  ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 30px;
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.show {
  display: none;
}

.hamburger {
  width: 34px;
  height: 21px;
}

.hamburger > .line {
  width: 100%;
  height: 2px;
  margin: 4px 0;
  background-color: #232323;
  display: block;
}

.logo > .link {
  text-decoration: none;
  color: #232323;
  text-align: center;
}

.logo > .link > h1 {
  padding: 5vh 0;
}

.show:checked ~ .menu-mobile {
  left: 0vw;
  opacity: 1;
  display: block;
}

.menu-mobile {
  width: 70%;
  height: 100vh;
  position: absolute;
  position: fixed;
  top: 0;
  left: -100vw;
  opacity: 0;
  background-color: #fff;
  transition: 1s;
}

.menu-mobile > .social {
  padding: 4.6vh;
  text-align: center;
  background-color: #304a75;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.menu-mobile > .social > .icon {
  font-size: 20px;
  color: #fff;
  padding: 7px 6px;
}

.menu-mobile > .social > .close {
  position: absolute;
  left: 10vw;
  color: #fff;
}

.menu-mobile > .social > .close > .icon {
  font-size: 23px;
  font-style: normal;
  font-weight: 100;
  font-family: Helvetica, sans-serif;
}

.menu-mobile .menu-item > .item {
  display: block;
  padding: 4vh;
  text-align: center;
  color: #232323;
  font-weight: 700;
}

.menu-mobile .menu-item > .item:hover {
  background-color: #1d2d48;
  color: #fff;
}

.banner {
  width: 100%;
  display: block;
  background-color: #232323;
  padding: 20vh 0;
}

.banner > .title, .banner > .description {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.banner > .description {
  font-size: 30px;
  margin-top: 0;
}

.banner > .button-group {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner > .button-group > .button {
  background-color: transparent;
  margin: 2rem  0 1.5rem 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 50px;
  -webkit-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}

.banner > .button-group > .button:hover {
  background: #fff;
  color: #232323;
}

.banner > .button-group > .button.reverce {
  margin: 0;
  background-color: #5a5a5a;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  color: #fff;
  border: 0px solid #304a75;
  padding: 15px 50px;
  -webkit-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}

.banner > .button-group > .button.reverce:hover {
  background: #304a75;
  color: #fff;
}

.servicos {
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .servicos > .col-half {
    flex-basis: 0;
  }
}

.servicos > .col-half > .picture {
  max-width: 100%;
}

.servicos > .col-half > .title, .servicos > .banner.col-half > .description {
  padding-top: 0 10px;
  font-size: 27px;
  font-weight: 900;
  color: #232323;
  text-transform: uppercase;
}

.servicos > .col-half > .title > .featured, .servicos > .banner.col-half > .description > .featured {
  color: #304a75;
}

.servicos > .col-half > .title:nth-child(1), .servicos > .banner.col-half > .description:nth-child(1) {
  margin-top: 25px;
}

.servicos > .col-half > .sub-title {
  font-weight: 100;
  font-size: 1.8rem;
}

.servicos > .col-half > .text {
  padding: 10px 0;
}

.servicos > .col-half > .button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  color: #232323;
  border: 1px solid #232323;
  padding: 10px 30px;
  -webkit-transition: color 1.5s, background 1.5s;
  transition: color 1.5s, background 1.5s;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.servicos > .col-half > .button:hover {
  background: #232323;
  color: #fff;
}

.metodologia {
  background-color: #304a75;
}

@media only screen and (min-width: 1024px) {
  .metodologia {
    padding: 10vh 0;
  }
}

@media only screen and (min-width: 1024px) {
  .metodologia > .col-half {
    flex-basis: 0;
  }
}

.metodologia > .col-half > .title, .metodologia > .banner.col-half > .description {
  padding-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.metodologia > .col-half > .description {
  padding: 10px;
  border: 1px solid #fff;
}

.metodologia > .col-half > .description > .sub-title,
.metodologia > .col-half > .description > .text-description {
  font-weight: 100;
  padding-bottom: 10px;
  color: #fff;
}

.portifolio .thumb-group {
  width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portifolio .thumb-group > .conteiner {
  flex-wrap: wrap;
  padding: 30px;
  width: 100%;
}

.portifolio .thumb-group > .conteiner > .title, .portifolio .thumb-group > .banner.conteiner > .description,
.portifolio .thumb-group > .conteiner > .sub-title {
  text-align: center;
  width: 100%;
  color: #232323;
}

.portifolio .thumb-group > .conteiner > .title, .portifolio .thumb-group > .banner.conteiner > .description {
  font-size: 3rem;
  margin-bottom: 27px;
}

.portifolio .thumb-group > .conteiner > .sub-title {
  font-size: 1.0625rem;
}

.portifolio .thumb-group .thumb {
  width: 18rem;
  min-height: 19rem;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #E6E7E8;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 1rem;
}

.portifolio .thumb-group .thumb > .thumbnail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #304a75;
}

.portifolio .thumb-group .thumb > .thumbnail > .thumb-img {
  max-width: 100%;
}

.portifolio .thumb-group .thumb > .divider {
  height: 40%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
}

.portifolio .thumb-group .thumb > .divider > .title, .portifolio .thumb-group .thumb > .banner.divider > .description,
.portifolio .thumb-group .thumb > .divider > .date {
  font-size: 1rem;
  display: block;
  color: #fff;
  text-align: center;
}

.portifolio .thumb-group .thumb > .divider > .title, .portifolio .thumb-group .thumb > .banner.divider > .description {
  margin: 1rem 0 0 0;
}

.portifolio .thumb-group .thumb > .divider > .date {
  margin-bottom: 0.9rem;
  font-size: 0.7rem;
}

.portifolio .thumb-group .thumb > .divider > .icon-zoom-in {
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  display: block;
  border-radius: 50%;
  margin: 0.1rem auto;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.portifolio .thumb-group .thumb > .divider > .icon-zoom-in:before {
  color: #ed145b;
  margin: 7px auto;
  display: block;
}

.portifolio .thumb-group .thumb > .divider > .icon-zoom-in:hover, .portifolio .thumb-group .thumb > .divider > .icon-zoom-in:active {
  background-color: #fff;
}

.portifolio .thumb-group .thumb > .divider > .icon-zoom-in:hover:before, .portifolio .thumb-group .thumb > .divider > .icon-zoom-in:active:before {
  color: #232323;
  margin: 7px auto;
  display: block;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.portifolio .button-group {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

.portifolio .button-group .button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  color: #232323;
  border: 1px solid #232323;
  padding: 10px 30px;
  -webkit-transition: color 1.5s, background 1.5s;
  transition: color 1.5s, background 1.5s;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
  text-transform: capitalize;
  display: block;
}

.portifolio .button-group .button:hover {
  background: #232323;
  color: #fff;
}

.project {
  margin: 10% auto;
  padding: 30px;
  background-color: #ff89b0;
}

.project .container-project {
  position: relative;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project .container-project .description-project {
  padding: 15px;
  margin-bottom: 2rem;
}

.project .container-project .description-project .description {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.project .container-project .description-img {
  position: relative;
  padding: 15px 0;
}

.time {
  width: 100vw;
  margin: 30px auto;
  padding: 15% 0 40% 0;
  background-color: #f1f2f2;
}

.time > .slide-container {
  max-width: 80%;
  height: 220px;
  margin: 0 auto;
  position: relative;
}

.time > .slide-container .owl-carousel .owl-stage-outer {
  overflow-x: hidden;
  height: 270px;
  padding-top: 50px;
  position: relative;
}

.time > .slide-container .owl-carousel .owl-stage-outer .description-time {
  padding: 70px 25px;
  text-align: center;
  font-size: 13px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.time > .slide-container .owl-carousel .owl-stage-outer .description-time > .black-lite {
  color: #5a5a5a;
}

.time > .slide-container .owl-carousel .owl-stage-outer .avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 30%;
  border-radius: 50%;
  background-color: #000;
}

.time .owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  top: 34%;
}

.time .owl-theme .owl-nav .owl-prev,
.time .owl-theme .owl-nav .owl-next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
}

.time .owl-theme .owl-nav .owl-prev :active,
.time .owl-theme .owl-nav .owl-prev :focus,
.time .owl-theme .owl-nav .owl-prev :hover,
.time .owl-theme .owl-nav .owl-next :active,
.time .owl-theme .owl-nav .owl-next :focus,
.time .owl-theme .owl-nav .owl-next :hover {
  transition: all 0.6s;
  color: #fff;
  background-color: #ff89b0;
}

.time .owl-theme .owl-nav .jello-vertical {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

.time .owl-theme .owl-nav .owl-prev i,
.time .owl-theme .owl-nav .owl-next i {
  padding: 0px 0px 4px 3px;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  font-size: 30px;
  color: #ff89b0;
}

.time .owl-theme .owl-nav .owl-prev {
  left: -28px;
}

.time .owl-theme .owl-nav .owl-prev .icon-arrow-left {
  padding: 0px 3px 4px 0px;
}

.time .owl-theme .owl-nav .owl-next {
  right: -28px;
}

.time .owl-theme .owl-nav [class*='owl-']:hover {
  color: #232323;
}

.card-group {
  margin-bottom: 1rem;
}

.card-group > .card {
  width: 21rem;
  min-height: 22rem;
  margin: 1rem auto;
  border-radius: 5px;
  border: solid 1px #E6E7E8;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-group > .card:hover {
  background-color: #304a75;
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-group > .card:hover > .icon-default:before {
  color: #fff;
}

.card-group > .card:hover > .description {
  color: #fff;
}

.card-group > .card > .icon-default {
  width: 100%;
  height: 130px;
  font-size: 4rem;
  text-align: center;
  display: block;
}

.card-group > .card > .icon-default:before {
  margin: 17%;
  width: auto;
  color: #304a75;
}

.card-group > .card > .description {
  display: inline-block;
  padding: 1.25rem;
}

.card-group > .card > .description > .title, .card-group > .card > .banner.description > .description {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.card-group > .card > .description > .caption {
  text-align: center;
}

.footer {
  background-color: #1a1a1a;
}

.footer > .form-container {
  max-width: 80%;
  margin: 0 auto;
}

.footer > .form-container > .form {
  width: 100%;
}

.footer > .form-container > .form > input.form-itens {
  width: 48%;
  padding: 10px 0 10px 17px;
  margin: 1.5rem 0;
  box-sizing: border-box;
}

.footer > .form-container > .form > .form-itens {
  max-width: 100%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.footer > .form-container > .form > .form-itens ::placeholder {
  background-color: transparent;
  color: #fff;
}

.footer > .form-container > .form > .form-itens.button {
  background-color: #304a75;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  color: #fff;
  border: 0px solid #fff;
  padding: 15px 50px;
  -webkit-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}

.footer > .form-container > .form > .form-itens.button:hover {
  background: #fff;
  color: #304a75;
}
