
.icon-phone:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-css3:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-html:before { content: '\e804'; } /* '' */
.icon-zoom-in:before { content: '\e805'; } /* '' */
.icon-zoom-out:before { content: '\e806'; } /* '' */
.icon-crown:before { content: '\e80d'; } /* '' */
.icon-responsive:before { content: '\e80e'; } /* '' */
.icon-esquadro:before { content: '\e80f'; } /* '' */
.icon-pen:before { content: '\e810'; } /* '' */
.icon-mobile:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-git:before { content: '\f09b'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-arrow-left:before { content: '\f104'; } /* '' */
.icon-arrow-right:before { content: '\f105'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css:before { content: '\f13c'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */